<div class="login-container">
  <a routerLink="/" class="home-icon">
    <fa-icon [icon]="'home'"></fa-icon>
  </a>
  <div class="login-card-wrapper">
    <mat-card class="login-card">
      <div class="login-title">
        <mat-card-title>Log In</mat-card-title>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="login-field">
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter your username" formControlName="username">
            <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
              Username is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="password-field">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput [type]="passwordVisible ? 'text' : 'password'" placeholder="Enter password" formControlName="password">
            <fa-icon [icon]="passwordVisible ? 'eye-slash' : 'eye'" class="eye-icon" (click)="togglePasswordVisibility()"></fa-icon>
            <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
              Password is required
            </mat-error>
            <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
              Password must be at least 6 characters long
            </mat-error>
          </mat-form-field>
        </div>
        <div class="login-button-wrapper">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
            Log In
          </button>
        </div>
        <app-login-page-section-2></app-login-page-section-2>
      </form>
    </mat-card>
  </div>
</div>
