<div class="footer-class">
  <div class="footer-content-class">
    <div class="footer-welcome-class">
      Welcome! We're glad you're here.
      Take 5% OFF on your first purchase when you join our
      <a href="#" style="color:#ffffff">email list.</a>
    </div>
    <div class="line"></div>
    <div class="footer-table">
      <table>
        <thead>
          <tr>
            <th>Services</th>
            <th>About Us</th>
            <th>Locate Us</th>
            <th>Social Media</th>
            <th>Already Have One?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul>
                <li><a href="#">Consulting</a></li>
              </ul>
            </td>
            <td>
              <ul>
                <li><a href="#">Our Story</a></li>
              </ul>
            </td>
            <td>
              <ul>
                <li><a href="#">Office Locations</a></li>
              </ul>
            </td>
            <td>
              <ul>
                <li>
                  <a href="#">
                    Facebook
                    <img src="/assets/images/facebook.png"
                    style="width: 25px;height: 25px;" alt="Facebook">
                  </a>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li><a href="#">Log In</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <ul>
                <li><a href="#">Support</a></li>
              </ul>
            </td>
            <td>
              <ul>
                <li><a href="#">Mission & Vision</a></li>
              </ul>
            </td>
            <td>
              <ul>
                <li><a href="#">Map & Directions</a></li>
              </ul>
            </td>
            <td>
              <ul>
                <li>
                  <a href="#">
                    Instagram
                    <img src="/assets/images/instagram.png"
                     style="width: 25px;height: 25px;" alt="Instagram">
                  </a>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li><a href="#">Forgot Password</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <ul>
                <li><a href="#">Custom Solutions</a></li>
              </ul>
            </td>
            <td>
              <ul>
                <li><a href="#">Team</a></li>
              </ul>
            </td>
            <td>
              <ul>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </td>
            <td>
              <ul>
                <li>
                  <a href="#">
                    LinkedIn
                    <img src="/assets/images/linkdin.png"
                      style="width: 25px;height: 25px;" alt="LinkedIn">
                  </a>
                </li>
              </ul>
            </td>
            <td>
              <ul>
                <li><a href="#">Help Center</a></li>
              </ul>
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <ul>
                <li>
                  <a href="#">
                    <img src="/assets/images/x-image.jpg" style="width: 24px;height: 24px;" alt="X">
                  </a>
                </li>
              </ul>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="copyright-class">
      <div class="cr-content1-class">
        ©Unilever Pure It 2024. All rights reserved.
      </div>
      <div class="cr-content2-class">
        <a href="#">Terms & Conditions</a> |
        <a href="#">Privacy Notice</a> |
        <a href="#">RSS Feed</a>
      </div>
    </div>
  </div>
</div>
