<!-- <div class="carousel-container">
  <div class="carousel">
    <div class="carousel-item" *ngFor="let image of currentImages; let i = index"
         [ngClass]="getClassForImage(i)">
      <img [src]="image" alt="Carousel Image">
    </div>
  </div>
</div>

<div class="carousel-below">
  <img src="assets/images/ro-image1.jpg" class="carousel-below-image" alt="dd">
  <img src="assets/images/ro-image2.jpg" class="carousel-below-image" alt="dd">
</div> -->

<div class="carousel-below2">
  <div class="carousel-below2-content">
    <div class="carousel-below2-content-1">World’s Best</div>
    <div class="carousel-below2-content-2">RO Water Purifiers</div>
    <div class="carousel-below2-content-3">Protect your Family with the Purest</div>
    <div class="carousel-below2-content-4"> Drinking Water</div>
  </div>
  <div class="carousel-below2-image">
    <img src="assets/images/ro-image4.png" alt="ddf" style="width: 100%;height: 100%;">
  </div>
</div>
