.carousel
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #f1f2f5, #1e4463);
  font-family: -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, "Arial", "Helvetica Neue", sans-serif, "Comic Sans MS",
                "Courier New", monospace;
}

.carousel-content
{
  padding-top: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

.carousel-content-1
{
  font-size: 6.5vh;
  font-weight: 600;
  color: #1f387c;
}

.carousel-content-2
{
  font-size: 5.5vh;
  font-weight: 700;
  color: #1f387c;
}

.carousel-content-3
{
  color: rgb(55, 49, 49);
  font-size: 2.7vh;
  font-weight: bold;
  margin-top: 10px;
}

.carousel-content-4
{
  color: rgb(55, 49, 49);
  font-size: 2.6vh;
  font-weight: bold;
  margin-top: 5px;
}

.carousel-image
{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 6vw;
 }
