<div class="dashboard-your-order-page-class">
  <app-dashboard-menu-section></app-dashboard-menu-section>
  <div class="dashboard-your-order-page-show-section-class">
    <div class="dashboard-your-order-page-show-section-header-class">
      <div class="dashboard-your-order-page-show-section-header-heading-class">
        Your Orders
       </div>
       <div class="dashboard-your-order-page-show-section-header-search-class">
        <input type="search" name="dashboard-order-search" id="dashboard-order-search"
                placeholder=".. Search your orders .."
                class="dashboard-your-order-page-show-section-header-search-class-2"
        >
       </div>
       <!-- <div class="dashboard-your-order-page-show-section-header-search-icon-class">
        <fa-icon [icon]="['fas', 'search']">
        </fa-icon>
       </div> -->
       <select id="language-select">
        <option>
          past 3 months
        </option>
        <option>
          past 6 months
        </option>
        <option>
          all..
        </option>
      </select>
    </div>
    <div class="dashboard-your-order-page-show-section-header-below-line-class">
    </div>
    <div class="dashboard-your-order-page-show-section-products-class">
      <div class="product-catalog-section-product-section-product-1-class">
        <app-product-section-description></app-product-section-description>
        <img src="../../assets/images/active-carbon.jpg" alt="order-product-image-1"
              width="100px" height="100px"
        >
        <div class="product-catalog-section-product-section-product-1-cancel-order-class">
          <button class="product-catalog-section-product-section-product-1-cancel-order-b-class">
            cancel order
          </button>
        </div>
      </div>
      <div class="product-catalog-section-product-section-product-1-class">
        <app-product-section-description></app-product-section-description>
        <img src="../../assets/images/active-carbon.jpg" alt="order-product-image-1"
              width="100px" height="100px"
        >
        <div class="product-catalog-section-product-section-product-1-cancel-order-class">
          <button class="product-catalog-section-product-section-product-1-cancel-order-b-class">
            cancel order
          </button>
        </div>
      </div>
      <div class="product-catalog-section-product-section-product-1-class">
        <app-product-section-description></app-product-section-description>
        <img src="../../assets/images/active-carbon.jpg" alt="order-product-image-1"
               width="100px" height="100px"
        >
        <div class="product-catalog-section-product-section-product-1-cancel-order-class">
          <button class="product-catalog-section-product-section-product-1-cancel-order-b-class">
            cancel order
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
