<div class="product-catalog-section-sorting-section-budget-class">
  <div class="product-catalog-section-sorting-section-budget-1-class">
    <div class="product-catalog-section-sorting-section-budget-1-1-class">
      Budget Range
    </div>
  </div>

  <div class="product-catalog-section-sorting-section-budget-2-class">
    <div *ngIf="isBrowser">
      <ngx-slider
        [(value)]="minValue"
        [(highValue)]="maxValue"
        [options]="sliderOptions">
      </ngx-slider>
    </div>
  </div>
</div>
