.product-catalog-section-sorting-section-budget-class
{
  display: flex;
  margin-top: 5.2vmin;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-catalog-section-sorting-section-budget-1-class
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.product-catalog-section-sorting-section-budget-1-1-class
{
  color: #193459;
  font-size: 3.3vmin;
  font-weight: 600;
}

.product-catalog-section-sorting-section-budget-1-2-class
{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
