<div class="product-catalog-section-sorting-section-budget-class">
  <div class="product-catalog-section-sorting-section-budget-1-class">
      <div class="product-catalog-section-sorting-section-budget-1-1-class">
        Budget
      </div>
      <div class="product-catalog-section-sorting-section-budget-1-2-class">
        <div class="product-catalog-section-sorting-section-budget-1-2-line-class"></div>
      </div>
  </div>
  <div class="product-catalog-section-sorting-section-budget-2-class">
    <input type="range" class="range" id="point1" min="0" max="100" value="20">
  </div>
</div>
<div class="product-catalog-section-sorting-section-budget-below-line-class"></div>
