.product-catalog-section-sorting-section-budget-class
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3.2vmin;
}

.product-catalog-section-sorting-section-budget-1-class
{
  font-size: 2.8vmin;
  font-weight: bold;
}

.product-catalog-section-sorting-section-budget-2-class
{
  margin-top: 5vmin;
  width: 100%;
}

ngx-slider
{
  margin-top: 4vmin;
  width: 100%;
}
