<div class="features-section-class">
  <div class="features-section-heading-class">
    Features
  </div>
  <div class="features-section-heading-below-content-class">
    Makes Water 100% pure through Multiple Purification Process
  </div>
  <div class="features-section-multiple-sections-class">
    <div class="features-section-multiple-sections-section-1-class">
      <div class="features-section-multiple-sections-section-1-image-class">
        <img src="assets/images/100-pure-water.png" alt="100-water-pure"
               width="80px;" height="80px">
      </div>
      <div class="features-section-multiple-sections-section-1-content-class">
        <div style="margin-top: 5px">
          KENT RO Water Purifiers
        </div>
        <div style="padding-top: 5px;">
          remove bacteria, viruses,
        </div>
        <div style="padding-top: 5px;">
          chemicals, and even dissolved
        </div>
        <div style="padding-top: 5px;">
          impurities such as arsenic, rust,
        </div>
        <div style="padding-top: 5px;">
          pesticides, and fluorides to make
        </div>
        <div style="padding-top: 5px;">
          water 100% pure and healthy
        </div>
        <div style="padding-top: 5px">
          that meets drinking water
        </div>
        <div style="padding-top: 7px">
          standards of IS:10500.
        </div>
      </div>
    </div>
    <div class="features-section-multiple-sections-section-1-class">
      <div class="features-section-multiple-sections-section-1-image-class">
        <img src="assets/images/active-carbon.jpg" alt="100-water-pure"
               width="80px;" height="80px">
      </div>
      <div class="features-section-multiple-sections-section-1-content-class">
        <div style="margin-top: 5px">
          KENT RO Water Purifiers
        </div>
        <div style="padding-top: 5px;">
          remove bacteria, viruses,
        </div>
        <div style="padding-top: 5px;">
          chemicals, and even dissolved
        </div>
        <div style="padding-top: 5px;">
          impurities such as arsenic, rust,
        </div>
        <div style="padding-top: 5px;">
          pesticides, and fluorides to make
        </div>
        <div style="padding-top: 5px;">
          water 100% pure and healthy
        </div>
        <div style="padding-top: 5px">
          that meets drinking water
        </div>
        <div style="padding-top: 7px">
          standards of IS:10500.
        </div>
      </div>
    </div>
    <div class="features-section-multiple-sections-section-1-class">
      <div class="features-section-multiple-sections-section-1-image-class">
        <img src="assets/images/removes-dissolved.jpg" alt="100-water-pure"
              width="80px;" height="80px">
      </div>
      <div class="features-section-multiple-sections-section-1-content-class">
        <div style="margin-top: 5px">
          KENT RO Water Purifiers
        </div>
        <div style="padding-top: 5px;">
          remove bacteria, viruses,
        </div>
        <div style="padding-top: 5px;">
          chemicals, and even dissolved
        </div>
        <div style="padding-top: 5px;">
          impurities such as arsenic, rust,
        </div>
        <div style="padding-top: 5px;">
          pesticides, and fluorides to make
        </div>
        <div style="padding-top: 5px;">
          water 100% pure and healthy
        </div>
        <div style="padding-top: 5px">
          that meets drinking water
        </div>
        <div style="padding-top: 7px">
          standards of IS:10500.
        </div>
      </div>
    </div>
    <div class="features-section-multiple-sections-section-1-class">
      <div class="features-section-multiple-sections-section-1-image-class">
        <img src="assets/images/rem.jpg" alt="100-water-pure"
               width="90px;" height="90px">
      </div>
      <div class="features-section-multiple-sections-section-1-content-class">
        <div style="margin-top: 5px">
          KENT RO Water Purifiers
        </div>
        <div style="padding-top: 5px;">
          remove bacteria, viruses,
        </div>
        <div style="padding-top: 5px;">
          chemicals, and even dissolved
        </div>
        <div style="padding-top: 5px;">
          impurities such as arsenic, rust,
        </div>
        <div style="padding-top: 5px;">
          pesticides, and fluorides to make
        </div>
        <div style="padding-top: 5px;">
          water 100% pure and healthy
        </div>
        <div style="padding-top: 5px">
          that meets drinking water
        </div>
        <div style="padding-top: 7px">
          standards of IS:10500.
        </div>
      </div>
    </div>
  </div>
</div>
