
.product-catalog-section-product-section-class
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-catalog-section-product-section-product-1-class
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2vmin;
  margin: 2vmin;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px 10px #d4dbe4;
}

.product-catalog-section-product-section-product-1-div-image-class
{
  background-color: #9bc3c7;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5vmin;
  margin: 1.8vmin;
}

.product-catalog-section-product-section-product-1-image-class
{
  width: 200px;
  height: 200px;
}

.product-catalog-section-product-section-product-1-description-class
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.product-catalog-section-product-section-product-1-description-name-class
{
  color: #052f5c;
  font-size: 3.5vmin;
  font-weight: 600;
  padding: 1.4vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.product-catalog-section-product-section-product-1-description-name-product-name-class
{
  padding: 0.5vmin;
}

.product-catalog-section-product-section-product-1-description-name-product-model-class
{
  padding: 0.5vmin;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.product-catalog-section-product-section-product-1-description-name-product-model-color-class
{
  padding-left: 0.5vmin;
}

.product-catalog-section-product-section-product-1-description-info-class
{
  color: #575a5c;
  font-size: 2.2vmin;
  padding: 1.4vmin;
  font-weight: 500;
}

.product-catalog-section-product-section-product-1-description-price-class
{
  color: #191a1b;
  font-size: 2.2vmin;
  font-weight: 500;
  padding: 1.4vmin;
}

.product-catalog-section-product-section-product-1-buy-class
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-catalog-section-product-section-product-1-buy-heading-class
{
  color: #052f5c;
  font-size: 3vmin;
  padding: 1.4vmin;
  font-weight: 600;
}

.product-catalog-section-product-section-product-1-buy-options-class
{
  color: #575a5c;
  font-size: 2.2vmin;
  font-weight: 500;
  padding: 1.4vmin;
}
