<div class="product-catalog-section-product-section-class">
  <div class="product-catalog-section-product-section-product-1-class">
      <div class="product-catalog-section-product-section-product-1-div-image-class">
        <img src="assets/images/ro-image7.png" alt="section1"
            class="product-catalog-section-product-section-product-1-image-class">
      </div>
      <div class="product-catalog-section-product-section-product-1-div-image-class">
        <img src="assets/images/ro-image7-2.png" alt="section1"
            class="product-catalog-section-product-section-product-1-image-class">
      </div>
      <div class="product-catalog-section-product-section-product-1-description-class">
        <div class="product-catalog-section-product-section-product-1-description-name-class">
          KENT Ace Star ZWW
        </div>
        <div class="product-catalog-section-product-section-product-1-description-info-class">
          Wall Mountable
          <br>
          RO + UF + TDS Control
          <br>
          + UV In-tank
          <br>
          Flow Rate 20L/hr.*
        </div>
        <div class="product-catalog-section-product-section-product-1-description-price-class">
          Best Price : ₹ 13999.00
          <br>
          <span style="text-decoration: line-through;
                        text-decoration-color: rgb(13, 36, 128);">
              <span style="color: #ffffff;">.</span>
                MRP: ₹ 23000.00
              <span style="color: #ffffff;">.</span>
          </span>
          <br>
          (INCLUSIVE OF ALL TAXES)
        </div>
      </div>
      <div class="product-catalog-section-product-section-product-1-buy-class">
        <div class="product-catalog-section-product-section-product-1-buy-heading-class">
          Buy On
        </div>
        <div class="product-catalog-section-product-section-product-1-buy-options-class">
          <div>
            amazon
          </div>
          <div>
            <img src="assets/images/amazon-logo.png" alt="amazon"
               width="25px" height="25px">
          </div>
          <div>
            FlipKart
          </div>
          <div>
            <img src="assets/images/flipkart-logo.png" alt="amazon"
               width="25px" height="25px">
          </div>
          <div>
            Ebay
          </div>
          <div>
            <img src="assets/images/ebay-logo.jpg" alt="amazon"
               width="40px" height="40px">
          </div>
        </div>
      </div>
  </div>
  <div class="product-catalog-section-product-section-product-1-class">
    <div class="product-catalog-section-product-section-product-1-div-image-class">
       <img src="assets/images/ro-image8.png" alt="section1"
          class="product-catalog-section-product-section-product-1-image-class">
    </div>
    <div class="product-catalog-section-product-section-product-1-div-image-class">
      <img src="assets/images/image8-2.png" alt="section1"
          class="product-catalog-section-product-section-product-1-image-class">
    </div>
    <div class="product-catalog-section-product-section-product-1-description-class">
      <div class="product-catalog-section-product-section-product-1-description-name-class">
        KENT Ace Star ZWW
        <br>
        - Black
      </div>
      <div class="product-catalog-section-product-section-product-1-description-info-class">
        Wall Mountable
        <br>
        RO + UF + TDS Control
        <br>
        + UV In-tank
        <br>
        Flow Rate 20L/hr.*
      </div>
      <div class="product-catalog-section-product-section-product-1-description-price-class">
        Best Price : ₹ 13999.00
        <br>
        <span style="text-decoration: line-through;
                      text-decoration-color: rgb(13, 36, 128);">
            <span style="color: #ffffff;">.</span>
              MRP: ₹ 23000.00
            <span style="color: #ffffff;">.</span>
        </span>
        <br>
        (INCLUSIVE OF ALL TAXES)
      </div>
    </div>
    <div class="product-catalog-section-product-section-product-1-buy-class">
      <div class="product-catalog-section-product-section-product-1-buy-heading-class">
        Buy On
      </div>
      <div class="product-catalog-section-product-section-product-1-buy-options-class">
        <div>
          amazon
        </div>
        <div>
          <img src="assets/images/amazon-logo.png" alt="amazon"
             width="25px" height="25px">
        </div>
        <div>
          FlipKart
        </div>
        <div>
          <img src="assets/images/flipkart-logo.png" alt="amazon"
             width="25px" height="25px">
        </div>
        <div>
          Ebay
        </div>
        <div>
          <img src="assets/images/ebay-logo.jpg" alt="amazon"
             width="40px" height="40px">
        </div>
      </div>
    </div>
  </div>
  <div class="product-catalog-section-product-section-product-1-class">
    <div class="product-catalog-section-product-section-product-1-div-image-class">
      <img src="assets/images/ro-image7.png" alt="section1"
          class="product-catalog-section-product-section-product-1-image-class">
    </div>
    <div class="product-catalog-section-product-section-product-1-div-image-class">
      <img src="assets/images/ro-image7-2.png" alt="section1"
          class="product-catalog-section-product-section-product-1-image-class">
    </div>
    <div class="product-catalog-section-product-section-product-1-description-class">
      <div class="product-catalog-section-product-section-product-1-description-name-class">
        KENT Ace Star ZWW
      </div>
      <div class="product-catalog-section-product-section-product-1-description-info-class">
        Wall Mountable
        <br>
        RO + UF + TDS Control
        <br>
        + UV In-tank
        <br>
        Flow Rate 20L/hr.*
      </div>
      <div class="product-catalog-section-product-section-product-1-description-price-class">
        Best Price : ₹ 13999.00
        <br>
        <span style="text-decoration: line-through;
                      text-decoration-color: rgb(13, 36, 128);">
            <span style="color: #ffffff;">.</span>
              MRP: ₹ 23000.00
            <span style="color: #ffffff;">.</span>
        </span>
        <br>
        (INCLUSIVE OF ALL TAXES)
      </div>
    </div>
    <div class="product-catalog-section-product-section-product-1-buy-class">
      <div class="product-catalog-section-product-section-product-1-buy-heading-class">
        Buy On
      </div>
      <div class="product-catalog-section-product-section-product-1-buy-options-class">
        <div>
          amazon
        </div>
        <div>
          <img src="assets/images/amazon-logo.png" alt="amazon"
             width="25px" height="25px">
        </div>
        <div>
          FlipKart
        </div>
        <div>
          <img src="assets/images/flipkart-logo.png" alt="amazon"
             width="25px" height="25px">
        </div>
        <div>
          Ebay
        </div>
        <div>
          <img src="assets/images/ebay-logo.jpg" alt="amazon"
             width="40px" height="40px">
        </div>
      </div>
    </div>
  </div>
  <div class="product-catalog-section-product-section-product-1-class">
    <div class="product-catalog-section-product-section-product-1-div-image-class">
       <img src="assets/images/image8-2.png" alt="section1"
          class="product-catalog-section-product-section-product-1-image-class">
    </div>
    <div class="product-catalog-section-product-section-product-1-div-image-class">
      <img src="assets/images/ro-image8.png" alt="section1"
         class="product-catalog-section-product-section-product-1-image-class">
    </div>
    <div class="product-catalog-section-product-section-product-1-description-class">
      <div class="product-catalog-section-product-section-product-1-description-name-class">
        KENT Ace Star ZWW
        <br>
        - Black
      </div>
      <div class="product-catalog-section-product-section-product-1-description-info-class">
        Wall Mountable
        <br>
        RO + UF + TDS Control
        <br>
        + UV In-tank
        <br>
        Flow Rate 20L/hr.*
      </div>
      <div class="product-catalog-section-product-section-product-1-description-price-class">
        Best Price : ₹ 13999.00
        <br>
        <span style="text-decoration: line-through;
                      text-decoration-color: rgb(13, 36, 128);">
            <span style="color: #ffffff;">.</span>
              MRP: ₹ 23000.00
            <span style="color: #ffffff;">.</span>
        </span>
        <br>
        (INCLUSIVE OF ALL TAXES)
      </div>
    </div>
    <div class="product-catalog-section-product-section-product-1-buy-class">
      <div class="product-catalog-section-product-section-product-1-buy-heading-class">
        Buy On
      </div>
      <div class="product-catalog-section-product-section-product-1-buy-options-class">
        <div>
          amazon
        </div>
        <div>
          <img src="assets/images/amazon-logo.png" alt="amazon"
             width="25px" height="25px">
        </div>
        <div>
          FlipKart
        </div>
        <div>
          <img src="assets/images/flipkart-logo.png" alt="amazon"
             width="25px" height="25px">
        </div>
        <div>
          Ebay
        </div>
        <div>
          <img src="assets/images/ebay-logo.jpg" alt="amazon"
             width="40px" height="40px">
        </div>
      </div>
    </div>
  </div>
  <div class="product-catalog-section-product-section-product-1-class">
    <div class="product-catalog-section-product-section-product-1-div-image-class">
      <img src="assets/images/ro-image7.png" alt="section1"
          class="product-catalog-section-product-section-product-1-image-class">
    </div>
    <div class="product-catalog-section-product-section-product-1-div-image-class">
      <img src="assets/images/ro-image7-2.png" alt="section1"
          class="product-catalog-section-product-section-product-1-image-class">
    </div>
    <div class="product-catalog-section-product-section-product-1-description-class">
      <div class="product-catalog-section-product-section-product-1-description-name-class">
        KENT Ace Star ZWW
      </div>
      <div class="product-catalog-section-product-section-product-1-description-info-class">
        Wall Mountable
        <br>
        RO + UF + TDS Control
        <br>
        + UV In-tank
        <br>
        Flow Rate 20L/hr.*
      </div>
      <div class="product-catalog-section-product-section-product-1-description-price-class">
        Best Price : ₹ 13999.00
        <br>
        <span style="text-decoration: line-through;
                      text-decoration-color: rgb(13, 36, 128);">
            <span style="color: #ffffff;">.</span>
              MRP: ₹ 23000.00
            <span style="color: #ffffff;">.</span>
        </span>
        <br>
        (INCLUSIVE OF ALL TAXES)
      </div>
    </div>
    <div class="product-catalog-section-product-section-product-1-buy-class">
      <div class="product-catalog-section-product-section-product-1-buy-heading-class">
        Buy On
      </div>
      <div class="product-catalog-section-product-section-product-1-buy-options-class">
        <div>
          amazon
        </div>
        <div>
          <img src="assets/images/amazon-logo.png" alt="amazon"
             width="25px" height="25px">
        </div>
        <div>
          FlipKart
        </div>
        <div>
          <img src="assets/images/flipkart-logo.png" alt="amazon"
             width="25px" height="25px">
        </div>
        <div>
          Ebay
        </div>
        <div>
          <img src="assets/images/ebay-logo.jpg" alt="amazon"
             width="40px" height="40px">
        </div>
      </div>
    </div>
  </div>
</div>

