<nav class="navbar">
  <ul class="navbar-menu">
    <li class="navbar-item logo">
      <a routerLink="/">
        <img src="assets/images/logo-image2.jpg" alt="Logo" />
      </a>
    </li>
    <li class="navbar-item">
      <a routerLink="/aboutus">
        <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
        About Us
      </a>
    </li>
    <li class="navbar-item">
      <a href="#">
        <fa-icon [icon]="['fas', 'bookmark']"></fa-icon>
        Book a Demo
      </a>
    </li>
    <li class="navbar-item">
      <a (click)="openPinCodeDialog()">
        <fa-icon [icon]="['fas', 'map-location']"></fa-icon>
        {{ locationText }}
      </a>
    </li>
    <li class="navbar-item">
      <a routerLink="/login">
        <fa-icon [icon]="['fas', 'user']"></fa-icon>
        Sign In
      </a>
    </li>
    <li class="navbar-item cart">
      <a href="#">
        <fa-icon [icon]="['fas', 'cart-shopping']"></fa-icon>
        <span class="cart-notification">3</span>
      </a>
    </li>
    <li class="navbar-item">
      <a href="#">
        Customer Care
      </a>
    </li>
  </ul>
</nav>
