<div class="product-catalog-section-sorting-section-class">
  <app-filter-heading></app-filter-heading>
  <div class="product-catalog-section-sorting-section-filter-by-below-line-class"></div>
  <app-filter-storage></app-filter-storage>
  <div class="product-catalog-section-sorting-section-filter-by-below-line-class"></div>
  <app-filter-budget></app-filter-budget>
  <div class="product-catalog-section-sorting-section-filter-by-below-line-class"></div>
  <app-filter-technology></app-filter-technology>
  <div class="product-catalog-section-sorting-section-filter-by-below-line-class"></div>
  <app-filter-sow></app-filter-sow>
  <div class="product-catalog-section-sorting-section-filter-by-below-line-class"></div>
</div>
