.product-catalog-section-sorting-section-class
{
  padding: 1.2vmax;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: #052f5c;
  background-color: #ffffff;
  margin: 3vmin;
  box-shadow: 1px 1px 10px 4px #5c748e ;
}

.product-catalog-section-sorting-section-filter-by-below-line-class
{
  height: 0.1vmin;
  background-color: #9a9fa5;
  margin-top: 2vmin;
  width: 100%;
}

@media (max-width: 950px) and (max-height: 950px)
{
  .product-catalog-section-sorting-section-class
  {
    display: none;
  }
}
