.product-catalog-class
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 25px; */
  height: auto;
  background-color: #edf0f2;
}

.product-catalog-heading-content-class
{
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 2.5vh;
}

.product-catalog-heading-content-1
{
  font-size: 52px;
  font-weight: 600;
  color: #052f5c;
}

.product-catalog-heading-content-2
{
  font-size: 20px;
  font-weight: 400;
  color: #052f5c;
  padding-top: 5px;
}

.product-catalog-heading-content-3
{
  font-size: 16px;
  font-weight: 300;
  color: #052f5c;
  padding-top: 5px;
}

.product-catalog-section-class
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90vw;
  margin-top: 35px;
  height: auto;
}

.product-catalog-section-sorting-section-class
{
  height:170vh;
  width: 14vw;
  border: 1px solid #052f5c;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: #052f5c;
  background-color: #ffffff;;
}

.product-catalog-section-sorting-section-filter-by-class
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 600;
  padding-top: 10px;
}

.product-catalog-section-sorting-section-filter-by-below-line-class
{
  margin-top: 24px;
  width: 13vw;
  height: 1.5px;
  background-color: #9a9fa5;
}

.product-catalog-section-sorting-section-storage-class
{
  display: flex;
  margin-top: 34px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-catalog-section-sorting-section-storage-1-class
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}


.product-catalog-section-sorting-section-storage-1-1-class
{
  color: #193459;
  font-size: 20px;
  font-weight: 600;
}

.product-catalog-section-sorting-section-storage-1-2-class
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 22px;
  width: 7vw;;
}

.product-catalog-section-sorting-section-storage-1-2-line-class
{
  width: 1.6vw;
  height: 2px;
  background-color: #193459;
}

.product-catalog-section-sorting-section-storage-2-class
{
  margin-top: 14px;
  padding-left: 14px;
  color: #193459;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 9vw;
}

.product-catalog-section-sorting-section-storage-2-2-class
{
  padding-left: 5.4vw;
}

.product-catalog-section-sorting-section-storage-2-1-small-class
{
  padding-top: 8px;
}

.product-catalog-section-sorting-section-storage-2-1-medium-class
{
  padding-top: 24px;
}

.product-catalog-section-sorting-section-storage-2-1-large-class
{
  padding-top: 28px;
}

.product-catalog-section-sorting-section-storage-2-1-small-checkbox-class
{
  padding-top: 0px;
}

.product-catalog-section-sorting-section-storage-2-1-medium-checkbox-class
{
  padding-top: 11px;
}

.product-catalog-section-sorting-section-storage-2-1-large-checkbox-class
{
  padding-top: 15px;
}

input[type="checkbox"]
{
  width: 22px;
  height: 22px;
}

input[type="checkbox"]:checked
{
  background-color: gray;
}

.product-catalog-section-sorting-section-storage-below-line-class
{
  margin-top: 54px;
  width: 13vw;
  height: 1.5px;
  background-color: #9a9fa5;
}

.product-catalog-section-sorting-section-filter-by-class
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 600;
  padding-top: 10px;
}

.product-catalog-section-sorting-section-filter-by-below-line-class
{
  margin-top: 24px;
  width: 13vw;
  height: 1.5px;
  background-color: #9a9fa5;
}

.product-catalog-section-sorting-section-budget-class
{
  display: flex;
  margin-top: 34px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-catalog-section-sorting-section-budget-1-class
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}


.product-catalog-section-sorting-section-budget-1-1-class
{
  color: #193459;
  font-size: 20px;
  font-weight: 600;
}

.product-catalog-section-sorting-section-budget-1-2-class
{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 22px;
  width: 7vw;;
}

.product-catalog-section-sorting-section-budget-1-2-line-class
{
  width: 1.6vw;
  height: 2px;
  background-color: #193459;
}

.product-catalog-section-sorting-section-budget-2-class
{
  margin-top: 46px;
  padding-left: 14px;
  width: 9vw;
}

.product-catalog-section-sorting-section-budget-2-2-class
{
  padding-left: 5.4vw;
}


.product-catalog-section-sorting-section-budget-below-line-class
{
  margin-top: 50px;
  width: 13vw;
  height: 1.5px;
  background-color: #9a9fa5;
}

.product-catalog-section-sorting-technology-class
{
  display: flex;
  margin-top: 44px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-catalog-section-sorting-section-technology-1-class
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}


.product-catalog-section-sorting-section-technology-1-1-class
{
  color: #193459;
  font-size: 20px;
  font-weight: 600;
}

.product-catalog-section-sorting-section-technology-1-2-class
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 22px;
  width: 7vw;
  padding-left: 14px;
}

.product-catalog-section-sorting-section-technology-1-2-line-class
{
  width: 1.6vw;
  height: 1.5px;
  background-color: #193459;
}

.product-catalog-section-sorting-section-technology-2-class
{
  margin-top: 14px;
  padding-left: 14px;
  color: #193459;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 9vw;
}

.product-catalog-section-sorting-section-technology-2-2-class
{
  padding-left: 5.4vw;
}

.product-catalog-section-sorting-section-technology-2-1-ro-class
{
  padding-top: 8px;
}

.product-catalog-section-sorting-section-technology-2-1-uv-class
{
  padding-top: 24px;
}

.product-catalog-section-sorting-section-technology-2-1-cr-class
{
  padding-top: 20px;
}

.product-catalog-section-sorting-section-technology-2-1-er-class
{
  padding-top: 20px;
}

.product-catalog-section-sorting-section-technology-2-1-ro-checkbox-class
{
  padding-top: 0px;
}

.product-catalog-section-sorting-section-technology-2-1-uv-checkbox-class
{
  padding-top: 11px;
}

.product-catalog-section-sorting-section-technology-2-1-cr-checkbox-class
{
  padding-top: 15px;
}

.product-catalog-section-sorting-section-technology-2-1-er-checkbox-class
{
  padding-top: 24px;
}

input[type="checkbox"]
{
  width: 22px;
  height: 22px;
}

input[type="checkbox"]:checked
{
  background-color: gray;
}

.product-catalog-section-sorting-section-technology-below-line-class
{
  margin-top: 54px;
  width: 13vw;
  height: 1.5px;
  background-color: #9a9fa5;
}

.product-catalog-section-sorting-sow-class
{
  display: flex;
  margin-top: 44px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-catalog-section-sorting-section-sow-1-class
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.product-catalog-section-sorting-section-sow-1-1-class
{
  color: #193459;
  font-size: 20px;
  font-weight: 600;
}

.product-catalog-section-sorting-section-sow-1-2-class
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 22px;
  width: 7vw;
  padding-left: 56px;
}

.product-catalog-section-sorting-section-sow-1-2-line-class
{
  width: 1.6vw;
  height: 1.5px;
  background-color: #193459;
}

.product-catalog-section-sorting-section-sow-2-class
{
  margin-top: 14px;
  padding-left: 14px;
  color: #193459;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 9vw;
}

.product-catalog-section-sorting-section-sow-2-2-class
{
  padding-left: 5.4vw;
}

.product-catalog-section-sorting-section-sow-2-1-ro-class
{
  padding-top: 8px;
}

.product-catalog-section-sorting-section-sow-2-1-uv-class
{
  padding-top: 24px;
}

.product-catalog-section-sorting-section-sow-2-1-cr-class
{
  padding-top: 20px;
}

.product-catalog-section-sorting-section-sow-2-1-er-class
{
  padding-top: 25px;
}

.product-catalog-section-sorting-section-sow-2-1-ro-checkbox-class
{
  padding-top: 0px;
}

.product-catalog-section-sorting-section-sow-2-1-uv-checkbox-class
{
  padding-top: 11px;
}

.product-catalog-section-sorting-section-sow-2-1-cr-checkbox-class
{
  padding-top: 15px;
}

.product-catalog-section-sorting-section-sow-2-1-er-checkbox-class
{
  padding-top: 35px;
}

input[type="checkbox"]
{
  width: 22px;
  height: 22px;
}

input[type="checkbox"]:checked
{
  background-color: gray;
}

.product-catalog-section-sorting-section-sow-below-line-class
{
  margin-top: 54px;
  width: 13vw;
  height: 1.5px;
  background-color: #9a9fa5;
}

.product-catalog-section-product-section-class
{
  width: 75vw;
  /* border: 1px solid #052f5c; */
  margin-top: 5px;
  margin-left: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.product-catalog-section-product-section-product-1-class
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 42vh;
  width: 70vw;
  padding-top: 20px;
  /* border: 1px solid #052f5c; */
  border-radius: 30px;
  margin-top: 2px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px 10px #d4dbe4;
}

.product-catalog-section-product-section-product-1-div-image-class
{
  width: 240px;
  height: 240px;
  background-color: #9bc3c7;
  /* border: 1px solid blue; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.product-catalog-section-product-section-product-1-image-class
{
  width: 220px;
  height: 220px;
}

.product-catalog-section-product-section-product-1-description-class
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-catalog-section-product-section-product-1-description-name-class
{
  color: #052f5c;
  font-size: 20px;
  font-weight: 600;
}

.product-catalog-section-product-section-product-1-description-info-class
{
  color: #575a5c;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}

.product-catalog-section-product-section-product-1-description-price-class
{
  color: #191a1b;
  font-size: 15px;
  font-weight: 500;
  margin-top: 30px;
}

.product-catalog-section-product-section-product-1-buy-class
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-catalog-section-product-section-product-1-buy-heading-class
{
  color: #052f5c;
  font-size: 20px;
  font-weight: 600;
}

.product-catalog-section-product-section-product-1-buy-options-class
{
  color: #575a5c;
  font-size: 14px;
  font-weight: 500;
  margin-top: 20px;
}

.product-catalog-section-product-section-product-2-class
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 42vh;
  width: 70vw;
  padding-top: 20px;
  /* border: 1px solid #052f5c; */
  border-radius: 30px;
  margin-top: 8vh;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px 10px #d4dbe4;
}

.product-catalog-section-product-section-product-2-div-image-class
{
  width: 240px;
  height: 240px;
  background-color: #9bc3c7;
  /* border: 1px solid blue; */
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-catalog-section-product-section-product-2-image-class
{
  width: 220px;
  height: 220px;
}


.product-catalog-section-product-section-product-2-description-class
{
  /* margin-left: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-catalog-section-product-section-product-2-description-name-class
{
  color: #052f5c;
  font-size: 20px;
  font-weight: 600;
}

.product-catalog-section-product-section-product-2-description-info-class
{
  color: #575a5c;
  font-size: 16px;
  font-weight: 500;
  margin-top: 20px;
}

.product-catalog-section-product-section-product-2-description-price-class
{
  color: #191a1b;
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}

