<div class="product-catalog-class">
  <div class="product-catalog-heading-content-class">
    <div class="product-catalog-heading-content-1">
      PureIt RO Water Purifiers
    </div>
    <div class="product-catalog-heading-content-2">
      Choose RO Water Purifiers that best suits your needs & budget
    </div>
    <div class="product-catalog-heading-content-3">
      Prices are subject to availability at your pin code
    </div>
  </div>
  <div class="product-catalog-section-class">
    <div class="product-catalog-section-sorting-section-class">
      <div class="product-catalog-section-sorting-section-filter-by-class">
        Filter By
      </div>
      <div class="product-catalog-section-sorting-section-filter-by-below-line-class"></div>
      <div class="product-catalog-section-sorting-section-storage-class">
        <div class="product-catalog-section-sorting-section-storage-1-class">
            <div class="product-catalog-section-sorting-section-storage-1-1-class">
              Storage
            </div>
            <div class="product-catalog-section-sorting-section-storage-1-2-class">
              <div class="product-catalog-section-sorting-section-storage-1-2-line-class"></div>
            </div>
        </div>
        <div class="product-catalog-section-sorting-section-storage-2-class">
          <div class="product-catalog-section-sorting-section-storage-2-1-class">
            <div class="product-catalog-section-sorting-section-storage-2-1-small-class">
              Small
            </div>
            <div class="product-catalog-section-sorting-section-storage-2-1-medium-class">
              Medium
            </div>
            <div class="product-catalog-section-sorting-section-storage-2-1-large-class">
              Large
            </div>
          </div>
          <div class="product-catalog-section-sorting-section-storage-2-2-class">
            <div class="product-catalog-section-sorting-section-storage-2-1-small-checkbox-class">
              <input type="checkbox">
            </div>
            <div class="product-catalog-section-sorting-section-storage-2-1-medium-checkbox-class">
              <input type="checkbox">
            </div>
            <div class="product-catalog-section-sorting-section-storage-2-1-large-checkbox-class">
              <input type="checkbox">
            </div>
          </div>
        </div>
      </div>
      <div class="product-catalog-section-sorting-section-storage-below-line-class"></div>
      <div class="product-catalog-section-sorting-section-budget-class">
        <div class="product-catalog-section-sorting-section-budget-1-class">
            <div class="product-catalog-section-sorting-section-budget-1-1-class">
              Budget
            </div>
            <div class="product-catalog-section-sorting-section-budget-1-2-class">
              <div class="product-catalog-section-sorting-section-budget-1-2-line-class"></div>
            </div>
        </div>
        <div class="product-catalog-section-sorting-section-budget-2-class">
          <input type="range" class="range" id="point1" min="0" max="100" value="20">
        </div>
      </div>
      <div class="product-catalog-section-sorting-section-budget-below-line-class"></div>
      <div class="product-catalog-section-sorting-technology-class">
        <div class="product-catalog-section-sorting-section-technology-1-class">
            <div class="product-catalog-section-sorting-section-technology-1-1-class">
              Technology Type
            </div>
            <div class="product-catalog-section-sorting-section-technology-1-2-class">
              <div class="product-catalog-section-sorting-section-technology-1-2-line-class"></div>
            </div>
        </div>
        <div class="product-catalog-section-sorting-section-technology-2-class">
          <div class="product-catalog-section-sorting-section-technology-2-1-class">
            <div class="product-catalog-section-sorting-section-technology-2-1-ro-class">
              RO
            </div>
            <div class="product-catalog-section-sorting-section-technology-2-1-uv-class">
              UV
            </div>
            <div class="product-catalog-section-sorting-section-technology-2-1-cr-class">
              Copper Range
            </div>
            <div class="product-catalog-section-sorting-section-technology-2-1-er-class">
              Eco Range
            </div>
          </div>
          <div class="product-catalog-section-sorting-section-technology-2-2-class">
            <div class="product-catalog-section-sorting-section-technology-2-1-ro-checkbox-class">
              <input type="checkbox">
            </div>
            <div class="product-catalog-section-sorting-section-technology-2-1-uv-checkbox-class">
              <input type="checkbox">
            </div>
            <div class="product-catalog-section-sorting-section-technology-2-1-cr-checkbox-class">
              <input type="checkbox">
            </div>
            <div class="product-catalog-section-sorting-section-technology-2-1-er-checkbox-class">
              <input type="checkbox">
            </div>
          </div>
        </div>
      </div>
      <div class="product-catalog-section-sorting-section-technology-below-line-class"></div>
      <div class="product-catalog-section-sorting-sow-class">
        <div class="product-catalog-section-sorting-section-sow-1-class">
            <div class="product-catalog-section-sorting-section-sow-1-1-class">
              Source of Water
            </div>
            <div class="product-catalog-section-sorting-section-sow-1-2-class">
              <div class="product-catalog-section-sorting-section-sow-1-2-line-class"></div>
            </div>
        </div>
        <div class="product-catalog-section-sorting-section-sow-2-class">
          <div class="product-catalog-section-sorting-section-sow-2-1-class">
            <div class="product-catalog-section-sorting-section-sow-2-1-ro-class">
              BoreWell
            </div>
            <div class="product-catalog-section-sorting-section-sow-2-1-uv-class">
              MIxed
            </div>
          </div>
          <div class="product-catalog-section-sorting-section-sow-2-2-class">
            <div class="product-catalog-section-sorting-section-sow-2-1-ro-checkbox-class">
              <input type="checkbox">
            </div>
            <div class="product-catalog-section-sorting-section-sow-2-1-uv-checkbox-class">
              <input type="checkbox">
            </div>
          </div>
        </div>
      </div>
      <div class="product-catalog-section-sorting-section-sow-below-line-class"></div>
    </div>
    <div class="product-catalog-section-product-section-class">
      <div class="product-catalog-section-product-section-product-1-class">
          <div class="product-catalog-section-product-section-product-1-div-image-class">
            <img src="assets/images/ro-image7.png" alt="section1"
                class="product-catalog-section-product-section-product-1-image-class">
          </div>
          <div class="product-catalog-section-product-section-product-1-div-image-class">
            <img src="assets/images/ro-image7.png" alt="section1"
                class="product-catalog-section-product-section-product-1-image-class">
          </div>
          <div class="product-catalog-section-product-section-product-1-description-class">
            <div class="product-catalog-section-product-section-product-1-description-name-class">
              KENT Ace Star ZWW
            </div>
            <div class="product-catalog-section-product-section-product-1-description-info-class">
              Wall Mountable
              <br>
              RO + UF + TDS Control
              <br>
              + UV In-tank
              <br>
              Flow Rate 20L/hr.*
            </div>
            <div class="product-catalog-section-product-section-product-1-description-price-class">
              Best Price : ₹ 13999.00
              <br>
              <span style="text-decoration: line-through;
                            text-decoration-color: rgb(13, 36, 128);">
                  <span style="color: #ffffff;">.</span>
                    MRP: ₹ 23000.00
                  <span style="color: #ffffff;">.</span>
              </span>
              <br>
              (INCLUSIVE OF ALL TAXES)
            </div>
          </div>
          <div class="product-catalog-section-product-section-product-1-buy-class">
            <div class="product-catalog-section-product-section-product-1-buy-heading-class">
              Buy On
            </div>
            <div class="product-catalog-section-product-section-product-1-buy-options-class">
              <div>
                amazon
              </div>
              <div>
                <img src="assets/images/amazon-logo.png" alt="amazon"
                   width="25px" height="25px">
              </div>
              <div>
                FlipKart
              </div>
              <div>
                <img src="assets/images/flipkart-logo.png" alt="amazon"
                   width="25px" height="25px">
              </div>
              <div>
                Ebay
              </div>
              <div>
                <img src="assets/images/ebay-logo.jpg" alt="amazon"
                   width="40px" height="40px">
              </div>
            </div>
          </div>
      </div>
      <div class="product-catalog-section-product-section-product-2-class">
        <div class="product-catalog-section-product-section-product-2-div-image-class">
           <img src="assets/images/ro-image8.png" alt="section1"
              class="product-catalog-section-product-section-product-2-image-class">
        </div>
        <div class="product-catalog-section-product-section-product-2-div-image-class">
          <img src="assets/images/ro-image8.png" alt="section1"
             class="product-catalog-section-product-section-product-2-image-class">
       </div>
        <div class="product-catalog-section-product-section-product-2-description-class">
          <div class="product-catalog-section-product-section-product-2-description-name-class">
            KENT Ace Star ZWW - B
          </div>
          <div class="product-catalog-section-product-section-product-2-description-info-class">
            Wall Mountable
            <br>
            RO + UF + TDS Control
            <br>
            + UV In-tank
            <br>
            Flow Rate 20L/hr.*
          </div>
          <div class="product-catalog-section-product-section-product-2-description-price-class">
            Best Price : ₹ 13999.00
            <br>
            <span style="text-decoration: line-through;
                          text-decoration-color: rgb(13, 36, 128);">
                <span style="color: #ffffff;">.</span>
                  MRP: ₹ 23000.00
                <span style="color: #ffffff;">.</span>
            </span>
            <br>
            (INCLUSIVE OF ALL TAXES)
          </div>
        </div>
        <div class="product-catalog-section-product-section-product-1-buy-class">
          <div class="product-catalog-section-product-section-product-1-buy-heading-class">
            Buy On
          </div>
          <div class="product-catalog-section-product-section-product-1-buy-options-class">
            <div>
              amazon
            </div>
            <div>
              <img src="assets/images/amazon-logo.png" alt="amazon"
                 width="25px" height="25px">
            </div>
            <div>
              FlipKart
            </div>
            <div>
              <img src="assets/images/flipkart-logo.png" alt="amazon"
                 width="25px" height="25px">
            </div>
            <div>
              Ebay
            </div>
            <div>
              <img src="assets/images/ebay-logo.jpg" alt="amazon"
                 width="40px" height="40px">
            </div>
          </div>
        </div>
      </div>
      <div class="product-catalog-section-product-section-product-2-class">
        <div class="product-catalog-section-product-section-product-2-div-image-class">
          <img src="assets/images/ro-image7.png" alt="section2"
            class="product-catalog-section-product-section-product-2-image-class">
        </div>
        <div class="product-catalog-section-product-section-product-2-description-class">
          <div class="product-catalog-section-product-section-product-2-description-name-class">
            KENT Ace Star ZWW - B
          </div>
          <div class="product-catalog-section-product-section-product-2-description-info-class">
            Wall Mountable
            <br>
            RO + UF + TDS Control
            <br>
            + UV In-tank
            <br>
            Flow Rate 20L/hr.*
          </div>
          <div class="product-catalog-section-product-section-product-2-description-price-class">
            Best Price : ₹ 13999.00
            <br>
            <span style="text-decoration: line-through;
                          text-decoration-color: rgb(13, 36, 128);">
                <span style="color: #ffffff;">.</span>
                  MRP: ₹ 23000.00
                <span style="color: #ffffff;">.</span>
            </span>
            <br>
            (INCLUSIVE OF ALL TAXES)
          </div>
        </div>
        <div class="product-catalog-section-product-section-product-1-buy-class">
          <div class="product-catalog-section-product-section-product-1-buy-heading-class">
            Buy On
          </div>
          <div class="product-catalog-section-product-section-product-1-buy-options-class">
            <div>
              amazon
            </div>
            <div>
              <img src="assets/images/amazon-logo.png" alt="amazon"
                 width="25px" height="25px">
            </div>
            <div>
              FlipKart
            </div>
            <div>
              <img src="assets/images/flipkart-logo.png" alt="amazon"
                 width="25px" height="25px">
            </div>
            <div>
              Ebay
            </div>
            <div>
              <img src="assets/images/ebay-logo.jpg" alt="amazon"
                 width="40px" height="40px">
            </div>
          </div>
        </div>
      </div>
      <div class="product-catalog-section-product-section-product-2-class">
        <div class="product-catalog-section-product-section-product-2-div-image-class">
           <img src="assets/images/ro-image8.png" alt="section2"
              class="product-catalog-section-product-section-product-2-image-class">
        </div>
        <div class="product-catalog-section-product-section-product-2-description-class">
          <div class="product-catalog-section-product-section-product-2-description-name-class">
            KENT Ace Star ZWW - B
          </div>
          <div class="product-catalog-section-product-section-product-2-description-info-class">
            Wall Mountable
            <br>
            RO + UF + TDS Control
            <br>
            + UV In-tank
            <br>
            Flow Rate 20L/hr.*
          </div>
          <div class="product-catalog-section-product-section-product-2-description-price-class">
            Best Price : ₹ 13999.00
            <br>
            <span style="text-decoration: line-through;
                          text-decoration-color: rgb(13, 36, 128);">
                <span style="color: #ffffff;">.</span>
                  MRP: ₹ 23000.00
                <span style="color: #ffffff;">.</span>
            </span>
            <br>
            (INCLUSIVE OF ALL TAXES)
          </div>
        </div>
      </div>
      <div class="product-catalog-section-product-section-product-2-class">
        <div class="product-catalog-section-product-section-product-2-div-image-class">
           <img src="assets/images/ro-image7.png" alt="section2"
              class="product-catalog-section-product-section-product-2-image-class">
        </div>
        <div class="product-catalog-section-product-section-product-2-description-class">
          <div class="product-catalog-section-product-section-product-2-description-name-class">
            KENT Ace Star ZWW - B
          </div>
          <div class="product-catalog-section-product-section-product-2-description-info-class">
            Wall Mountable
            <br>
            RO + UF + TDS Control
            <br>
            + UV In-tank
            <br>
            Flow Rate 20L/hr.*
          </div>
          <div class="product-catalog-section-product-section-product-2-description-price-class">
            Best Price : ₹ 13999.00
            <br>
            <span style="text-decoration: line-through;
                          text-decoration-color: rgb(13, 36, 128);">
                <span style="color: #ffffff;">.</span>
                  MRP: ₹ 23000.00
                <span style="color: #ffffff;">.</span>
            </span>
            <br>
            (INCLUSIVE OF ALL TAXES)
          </div>
        </div>
      </div>
      <div class="product-catalog-section-product-section-product-2-class">
        <div class="product-catalog-section-product-section-product-2-div-image-class">
           <img src="assets/images/ro-image8.png" alt="section2"
              class="product-catalog-section-product-section-product-2-image-class">
        </div>
        <div class="product-catalog-section-product-section-product-2-description-class">
          <div class="product-catalog-section-product-section-product-2-description-name-class">
            KENT Ace Star ZWW - B
          </div>
          <div class="product-catalog-section-product-section-product-2-description-info-class">
            Wall Mountable
            <br>
            RO + UF + TDS Control
            <br>
            + UV In-tank
            <br>
            Flow Rate 20L/hr.*
          </div>
          <div class="product-catalog-section-product-section-product-2-description-price-class">
            Best Price : ₹ 13999.00
            <br>
            <span style="text-decoration: line-through;
                          text-decoration-color: rgb(13, 36, 128);">
                <span style="color: #ffffff;">.</span>
                  MRP: ₹ 23000.00
                <span style="color: #ffffff;">.</span>
            </span>
            <br>
            (INCLUSIVE OF ALL TAXES)
          </div>
        </div>
      </div>
      <div class="product-catalog-section-product-section-product-2-class">
        <div class="product-catalog-section-product-section-product-2-div-image-class">
           <img src="assets/images/ro-image7.png" alt="section2"
              class="product-catalog-section-product-section-product-2-image-class">
        </div>
        <div class="product-catalog-section-product-section-product-2-description-class">
          <div class="product-catalog-section-product-section-product-2-description-name-class">
            KENT Ace Star ZWW - B
          </div>
          <div class="product-catalog-section-product-section-product-2-description-info-class">
            Wall Mountable
            <br>
            RO + UF + TDS Control
            <br>
            + UV In-tank
            <br>
            Flow Rate 20L/hr.*
          </div>
          <div class="product-catalog-section-product-section-product-2-description-price-class">
            Best Price : ₹ 13999.00
            <br>
            <span style="text-decoration: line-through;
                          text-decoration-color: rgb(13, 36, 128);">
                <span style="color: #ffffff;">.</span>
                  MRP: ₹ 23000.00
                <span style="color: #ffffff;">.</span>
            </span>
            <br>
            (INCLUSIVE OF ALL TAXES)
          </div>
        </div>
      </div>
      <div class="product-catalog-section-product-section-product-2-class">
        <div class="product-catalog-section-product-section-product-2-div-image-class">
           <img src="assets/images/ro-image8.png" alt="section2"
              class="product-catalog-section-product-section-product-2-image-class">
        </div>
        <div class="product-catalog-section-product-section-product-2-description-class">
          <div class="product-catalog-section-product-section-product-2-description-name-class">
            KENT Ace Star ZWW - B
          </div>
          <div class="product-catalog-section-product-section-product-2-description-info-class">
            Wall Mountable
            <br>
            RO + UF + TDS Control
            <br>
            + UV In-tank
            <br>
            Flow Rate 20L/hr.*
          </div>
          <div class="product-catalog-section-product-section-product-2-description-price-class">
            Best Price : ₹ 13999.00
            <br>
            <span style="text-decoration: line-through;
                          text-decoration-color: rgb(13, 36, 128);">
                <span style="color: #ffffff;">.</span>
                  MRP: ₹ 23000.00
                <span style="color: #ffffff;">.</span>
            </span>
            <br>
            (INCLUSIVE OF ALL TAXES)
          </div>
        </div>
      </div>
      <div class="product-catalog-section-product-section-product-2-class">
        <div class="product-catalog-section-product-section-product-2-div-image-class">
           <img src="assets/images/ro-image7.png" alt="section2"
              class="product-catalog-section-product-section-product-2-image-class">
        </div>
        <div class="product-catalog-section-product-section-product-2-description-class">
          <div class="product-catalog-section-product-section-product-2-description-name-class">
            KENT Ace Star ZWW - B
          </div>
          <div class="product-catalog-section-product-section-product-2-description-info-class">
            Wall Mountable
            <br>
            RO + UF + TDS Control
            <br>
            + UV In-tank
            <br>
            Flow Rate 20L/hr.*
          </div>
          <div class="product-catalog-section-product-section-product-2-description-price-class">
            Best Price : ₹ 13999.00
            <br>
            <span style="text-decoration: line-through;
                          text-decoration-color: rgb(13, 36, 128);">
                <span style="color: #ffffff;">.</span>
                  MRP: ₹ 23000.00
                <span style="color: #ffffff;">.</span>
            </span>
            <br>
            (INCLUSIVE OF ALL TAXES)
          </div>
        </div>
      </div>
      <div class="product-catalog-section-product-section-product-2-class">
        <div class="product-catalog-section-product-section-product-2-div-image-class">
           <img src="assets/images/ro-image8.png" alt="section2"
              class="product-catalog-section-product-section-product-2-image-class">
        </div>
        <div class="product-catalog-section-product-section-product-2-description-class">
          <div class="product-catalog-section-product-section-product-2-description-name-class">
            KENT Ace Star ZWW - B
          </div>
          <div class="product-catalog-section-product-section-product-2-description-info-class">
            Wall Mountable
            <br>
            RO + UF + TDS Control
            <br>
            + UV In-tank
            <br>
            Flow Rate 20L/hr.*
          </div>
          <div class="product-catalog-section-product-section-product-2-description-price-class">
            Best Price : ₹ 13999.00
            <br>
            <span style="text-decoration: line-through;
                          text-decoration-color: rgb(13, 36, 128);">
                <span style="color: #ffffff;">.</span>
                  MRP: ₹ 23000.00
                <span style="color: #ffffff;">.</span>
            </span>
            <br>
            (INCLUSIVE OF ALL TAXES)
          </div>
        </div>
      </div>
      <div>
        More
      </div>
    </div>
  </div>
</div>
