.product-catalog-class
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #edf0f2;
}

.product-catalog-heading-content-class
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5vmin;
}

.product-catalog-heading-content-1
{
  font-size: 4vmax;
  font-weight: 600;
  color: #052f5c;
}

.product-catalog-heading-content-2
{
  font-size: 1.5vmax;
  font-weight: 400;
  color: #052f5c;
  padding-top: 5px;
}

.product-catalog-heading-content-3
{
  font-size: 1vmax;
  font-weight: 300;
  color: #052f5c;
  padding-top: 5px;
}

.product-catalog-section-class
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3vmin;
}

.product-catalog-section-product-section-more-class
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  font-size: 1.2vmax;
  font-weight: 600;
}

.product-catalog-section-product-section-more-box-class
{
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 10px;
  box-shadow: 1px 5px 5px 5px #9eacbf;
}

/* @media (max-width: 768px)
{
  .product-catalog-class
  {
    width: 100vmax;
  }
} */
