<div class="product-catalog-class">
  <div class="product-catalog-heading-content-class">
    <div class="product-catalog-heading-content-1">
      PureIt RO Water Purifiers
    </div>
    <div class="product-catalog-heading-content-2">
      Choose RO Water Purifiers that best suits your needs & budget
    </div>
    <div class="product-catalog-heading-content-3">
      Prices are subject to availability at your pin code
    </div>
  </div>
  <div class="product-catalog-section-class">
    <app-filter></app-filter>
    <app-product-section></app-product-section>
  </div>
</div>
