.product-catalog-class
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: #edf0f2;
}

.product-catalog-heading-content-class
{
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-top: 2.5vh;
}

.product-catalog-heading-content-1
{
  font-size: 52px;
  font-weight: 600;
  color: #052f5c;
}

.product-catalog-heading-content-2
{
  font-size: 20px;
  font-weight: 400;
  color: #052f5c;
  padding-top: 5px;
}

.product-catalog-heading-content-3
{
  font-size: 16px;
  font-weight: 300;
  color: #052f5c;
  padding-top: 5px;
}

.product-catalog-section-class
{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 90vw;
  margin-top: 35px;
  height: auto;
}
