<div class="divider">
  <span>OR</span>
</div>
<div class="social-login">
  <img src="assets/images/google-logo.jpg" alt="google-login" width="32px" height="32px" style="padding-top:0.8vmin">
  <img src="assets/images/facebook.png" alt="fb-login" width="40px" height="40px">
  <img src="assets/images/amazon-logo.png" alt="Amazon" width="40px" height="40px"/>
</div>
<div class="divider">
  <span>Don't have an account?</span>
</div>
<div class="login-button-wrapper">
  <button mat-raised-button color="primary" routerLink="/signup">Sign Up</button>
</div>
