<div class="why-use-class">
  <div class="why-use-content-class">
    <div class="why-use-content-1-class">
      <h1>
        Why use RO Water Purifiers?
      </h1>
      <div class="why-use-content-1-div-class">
        <div style="padding-top: 1px;">
          Drinking impure water has harmful effects on your health,
          as it acts like a slow poison, causing routine illness
          like Cholera,
        </div>
        <div style="padding-top: 10px;">
          Dysentery, Diarrhea, Jaundice,
          Tuberculosis and even diseases like Cancer.
          More than 37.7 million Indians are affected by
        </div>
        <div style="padding-top: 10px;">
          water borne diseases annually, with over
          1.5 million children are estimated to die of Diarrhea
          alone. More than 80%
        </div>
        <div style="padding-top: 10px;">
          of stomach diseases in India are caused by polluted water.
        </div>
      </div>
    </div>

    <div class="why-use-content-2-class">
      <h1>
        Increasing Dissolved Impurities
      </h1>
      <div class="why-use-content-2-div-class">
        Impurities, especially Dissolved ones are increasing
        in potable Water whether supplied by municipalities or
        from Ground well.
        <div style="padding-top: 12px;">
          Contamination of Groundwater: The underground water has
          pesticides, insecticides, and harmful chemicals such as arsenic, fluoride & lead.
        </div>
        <div style="padding-top: 10px;">
          Pesticides & Chemicals in River Water: Excessive use of
          pesticides as well as contamination from industrial waste affects river water.
          These soluble chemicals result in water borne diseases.
        </div>
        <div style="padding-top: 10px;">
          Rusting of Pipes: The water from municipalities goes to
          overhead tank from where it travels through rusted old pipelines,
          which are also often unclean, causing further water contamination.
        </div>
        <div style="padding-top: 10px;">
          Hence, it is essential to purify water before you drink.
          For this reason, KENT’s domestic RO water purifiers are ideal as
          they not only kill bacteria and viruses but also remove harmful
          dissolved impurities from water, making it 100% pure.
        </div>
      </div>
    </div>
  </div>
</div>
