<div class="why-use-class">
  <div class="why-use-content-class">
    <div class="why-use-content-1-div-class">
      <div class="why-use-content-1-1-div-class">
        Why use RO Water Purifiers?
      </div>
      <div class="why-use-content-1-2-div-class">
        Drinking impure water has harmful effects on your health,
        as it acts like a slow poison, causing routine illness
        like Cholera,Dysentery, Diarrhea, Jaundice,
        Tuberculosis and even diseases like Cancer.
        More than 37.7 million Indians are affected by
        water borne diseases annually, with over
        1.5 million children are estimated to die of Diarrhea
        alone. More than 80%  of stomach diseases in India are caused by polluted water.
      </div>
    </div>
    <div class="why-use-content-2-div-class">
      <div class="why-use-content-2-1-div-class">
        Increasing Dissolved Impurities
      </div>
      <div class="why-use-content-2-2-div-class">
        Impurities, especially Dissolved ones are increasing in potable Water whether
        supplied by municipalities or from Ground well.
        Contamination of Groundwater: The underground water has pesticides,
        insecticides, and harmful chemicals such as arsenic,
        fluoride & lead.
        Pesticides & Chemicals in River Water: Excessive use of pesticides
        as well as contamination from industrial
        waste affects river water. These soluble
        chemicals result
        in water borne diseases.
        Rusting of Pipes: The water from municipalities
        goes to overhead tank from where it travels through
        rusted old pipelines, which are also often unclean, causing further water contamination.
        Hence, it is essential to purify water before you drink.
        For this reason, KENT's domestic RO water purifiers are ideal as they not
        only kill bacteria and viruses but also remove harmful dissolved impurities
        from water, making it 100% pure.
      </div>
    </div>
  </div>
</div>

