.why-use-class
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
}

.why-use-content-1-class h1
{
  color: black;
  font-size: 3.5vmin;
}

.why-use-content-1-div-class
{
  color:  #636ea8;
  font-size: 2.5vmin;
}

.why-use-content-2-class h1
{
  color: black;
  font-size: 3.5vmin;
}

.why-use-content-2-div-class
{
  color: #636ea8;
  font-size: 2.5vmin;
}

@media (max-width: 950px) and (max-height: 950px)
{
  .why-use-class
  {
    width: 101vmax;
    overflow-x: hidden;
  }
}
