.product-catalog-section-sorting-sow-class
{
  display: flex;
  margin-top: 3vmin;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-catalog-section-sorting-section-sow-1-class
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.product-catalog-section-sorting-section-sow-1-1-class
{
  color: #193459;
  font-size: 3vmin;
  font-weight: 600;
}

.product-catalog-section-sorting-section-sow-1-2-class
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* .product-catalog-section-sorting-section-sow-1-2-line-class
{
  width: 1.6vw;
  height: 0.3vh;
  background-color: #193459;
} */

.product-catalog-section-sorting-section-sow-2-class
{
  margin-top: 2.6vmin;
  color: #193459;
  font-size: 2.5vmin;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

/* .product-catalog-section-sorting-section-sow-2-2-class
{
  padding-left: 4.4vmin;
} */

/* .product-catalog-section-sorting-section-sow-2-1-bw-class
{
  padding-top: 1.6vmin;
} */

/* .product-catalog-section-sorting-section-sow-2-1-mixed-class
{
  padding-top: 4vmin;
} */

/* .product-catalog-section-sorting-section-sow-2-1-bw-checkbox-class
{
  padding-top: 1vmin;
} */

/* .product-catalog-section-sorting-section-sow-2-1-mixed-checkbox-class
{
  padding-top: 2vmin;
} */

/*
input[type="checkbox"]
{
  width: 1.6vw;
  height: 1.6vw;
} */
