<div class="product-catalog-section-sorting-sow-class">
  <div class="product-catalog-section-sorting-section-sow-1-class">
      <div class="product-catalog-section-sorting-section-sow-1-1-class">
        Source of Water
      </div>
      <div class="product-catalog-section-sorting-section-sow-1-2-class">
        <div class="product-catalog-section-sorting-section-sow-1-2-line-class"></div>
      </div>
  </div>
  <div class="product-catalog-section-sorting-section-sow-2-class">
    <div class="product-catalog-section-sorting-section-sow-2-1-class">
      <div class="product-catalog-section-sorting-section-sow-2-1-ro-class">
        BoreWell
      </div>
      <div class="product-catalog-section-sorting-section-sow-2-1-uv-class">
        MIxed
      </div>
    </div>
    <div class="product-catalog-section-sorting-section-sow-2-2-class">
      <div class="product-catalog-section-sorting-section-sow-2-1-ro-checkbox-class">
        <input type="checkbox">
      </div>
      <div class="product-catalog-section-sorting-section-sow-2-1-uv-checkbox-class">
        <input type="checkbox">
      </div>
    </div>
  </div>
</div>
<div class="product-catalog-section-sorting-section-sow-below-line-class"></div>
