<div class="product-catalog-section-sorting-sow-class">
  <div class="product-catalog-section-sorting-section-sow-1-class">
      <div class="product-catalog-section-sorting-section-sow-1-1-class">
        Source of
        <br>
        Water
      </div>
      <div class="product-catalog-section-sorting-section-sow-1-2-class">
        <div class="product-catalog-section-sorting-section-sow-1-2-line-class"></div>
      </div>
  </div>
  <div class="product-catalog-section-sorting-section-sow-2-class">
    <div class="product-catalog-section-sorting-section-sow-2-1-class">
      <div class="product-catalog-section-sorting-section-sow-2-1-bw-class">
        BoreWell
      </div>
      <div class="product-catalog-section-sorting-section-sow-2-1-mixed-class">
        Mixed
      </div>
    </div>
    <div class="product-catalog-section-sorting-section-sow-2-2-class">
      <div class="product-catalog-section-sorting-section-sow-2-1-bw-checkbox-class">
        <input type="checkbox">
      </div>
      <div class="product-catalog-section-sorting-section-sow-2-1-mixed-checkbox-class">
        <input type="checkbox">
      </div>
    </div>
  </div>
</div>
