<h2 mat-dialog-title>Change Address</h2>

<form [formGroup]="changeAddressForm" (ngSubmit)="onChangeAddress()"
        class="change-Address-form">

  <mat-form-field appearance="outline">
    <mat-label>
      Email
    </mat-label>
    <input matInput type="email" formControlName="currentEmail" required>
    <mat-error *ngIf="changeAddressForm.get('currentEmail')?.hasError('email')">
      Email is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      New Address
    </mat-label>
    <input matInput formControlName="newAddress" required>
    <mat-error *ngIf="changeAddressForm.get('newAddress')?.hasError('required')">
      New Address required
    </mat-error>
  </mat-form-field>
  <div class="dialog-actions">
    <button mat-button type="button" (click)="onCancel()">
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit"
            [disabled]="changeAddressForm.invalid">
      Change
    </button>
  </div>
</form>
