.product-catalog-section-sorting-section-filter-by-class
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 600;
  font-size: 3vmin;
  padding-top: 1vmin;
}
