.product-catalog-section-sorting-section-filter-by-class
{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 600;
  padding-top: 1vh;
}

.product-catalog-section-sorting-section-filter-by-below-line-class
{
  width: 13vw;
  height: 0.2vh;
  background-color: #9a9fa5;
  margin-top: 3vh;
}
