<div class="product-catalog-section-product-section-product-1-buy-class">
  <div class="product-catalog-section-product-section-product-1-buy-heading-class">
    Buy On
  </div>
  <div class="product-catalog-section-product-section-product-1-buy-options-class">
    <div>
      amazon
    </div>
    <div class="product-catalog-section-product-section-product-1-buy-options-amazon-class">
      <img src="assets/images/amazon-logo.png" alt="amazon"
        width="25px" height="25px">
    </div>
    <div>
      FlipKart
    </div>
    <div class="product-catalog-section-product-section-product-1-buy-options-amazon-class">
      <img src="assets/images/flipkart-logo.png" alt="amazon"
        width="25px" height="25px">
    </div>
    <div>
      Ebay
    </div>
    <div class="product-catalog-section-product-section-product-1-buy-options-amazon-class">
      <img src="assets/images/ebay-logo.jpg" alt="amazon"
        width="40px" height="40px">
    </div>
  </div>
</div>
