.dashboard-class
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-welcome-class
{
  padding: 5vmin;
  color: #193459;
  font-size: 8.5vmin;
}

.home-icon
{
  font-size: 4.5vmin;
  color: #193459;
  cursor: pointer;
}

.home-icon:hover
{
  transform: scale(1.1);
}
