<div class="product-catalog-section-sorting-section-storage-class">
  <div class="product-catalog-section-sorting-section-storage-1-class">
      <div class="product-catalog-section-sorting-section-storage-1-1-class">
        Storage
      </div>
      <div class="product-catalog-section-sorting-section-storage-1-2-class">
        <div class="product-catalog-section-sorting-section-storage-1-2-line-class"></div>
      </div>
  </div>
  <div class="product-catalog-section-sorting-section-storage-2-class">
    <div class="product-catalog-section-sorting-section-storage-2-1-class">
      <div class="product-catalog-section-sorting-section-storage-2-1-small-class">
        Small
      </div>
      <div class="product-catalog-section-sorting-section-storage-2-1-medium-class">
        Medium
      </div>
      <div class="product-catalog-section-sorting-section-storage-2-1-large-class">
        Large
      </div>
    </div>
    <div class="product-catalog-section-sorting-section-storage-2-2-class">
      <div class="product-catalog-section-sorting-section-storage-2-1-small-checkbox-class">
        <input type="checkbox">
      </div>
      <div class="product-catalog-section-sorting-section-storage-2-1-medium-checkbox-class">
        <input type="checkbox">
      </div>
      <div class="product-catalog-section-sorting-section-storage-2-1-large-checkbox-class">
        <input type="checkbox">
      </div>
    </div>
  </div>
</div>
<div class="product-catalog-section-sorting-section-storage-below-line-class"></div>
