<div class="product-catalog-section-product-section-product-1-description-class">
  <div class="product-catalog-section-product-section-product-1-description-name-class">
    <div class="product-catalog-section-product-section-product-1-description-name-product-name-class">
      KENT Ace Star
    </div>
    <div class="product-catalog-section-product-section-product-1-description-name-product-model-class">
      <div>
        ZWW
      </div>
      <div class="product-catalog-section-product-section-product-1-description-name-product-model-color-class">
       - White
      </div>
    </div>
  </div>
  <div class="product-catalog-section-product-section-product-1-description-info-class">
    Wall Mountable
    RO + UF + TDS Control
    + UV In-tank
    Flow Rate 20L/hr.*
  </div>
  <div class="product-catalog-section-product-section-product-1-description-price-class">
    Best Price : ₹ 13999.00
    <span style="text-decoration: line-through;
                  text-decoration-color: rgb(13, 36, 128);">
        <span style="color: #ffffff;">.</span>
          MRP: ₹ 23000.00
        <span style="color: #ffffff;">.</span>
    </span>
    (INCLUSIVE OF ALL TAXES)
  </div>
</div>
