<div class="product-catalog-section-sorting-technology-class">
  <div class="product-catalog-section-sorting-section-technology-1-class">
      <div class="product-catalog-section-sorting-section-technology-1-1-class">
        Technology
        <br>
        Type
      </div>
      <div class="product-catalog-section-sorting-section-technology-1-2-class">
        <div class="product-catalog-section-sorting-section-technology-1-2-line-class"></div>
      </div>
  </div>
  <div class="product-catalog-section-sorting-section-technology-2-class">
    <div class="product-catalog-section-sorting-section-technology-2-1-class">
      <div class="product-catalog-section-sorting-section-technology-2-1-ro-class">
        RO
      </div>
      <div class="product-catalog-section-sorting-section-technology-2-1-uv-class">
        UV
      </div>
      <div class="product-catalog-section-sorting-section-technology-2-1-cr-class">
        Copper Range
      </div>
      <div class="product-catalog-section-sorting-section-technology-2-1-er-class">
        Eco Range
      </div>
    </div>
    <div class="product-catalog-section-sorting-section-technology-2-2-class">
      <div class="product-catalog-section-sorting-section-technology-2-1-ro-checkbox-class">
        <input type="checkbox">
      </div>
      <div class="product-catalog-section-sorting-section-technology-2-1-uv-checkbox-class">
        <input type="checkbox">
      </div>
      <div class="product-catalog-section-sorting-section-technology-2-1-cr-checkbox-class">
        <input type="checkbox">
      </div>
      <div class="product-catalog-section-sorting-section-technology-2-1-er-checkbox-class">
        <input type="checkbox">
      </div>
    </div>
  </div>
</div>
