<div class="product-catalog-section-sorting-section-storage-class">
  <div class="product-catalog-section-sorting-section-storage-1-class">
      <div class="product-catalog-section-sorting-section-storage-1-1-class">
        Technology
        <br>
        Type
      </div>
      <div class="product-catalog-section-sorting-section-storage-1-2-class">
        <div class="product-catalog-section-sorting-section-storage-1-2-line-class"></div>
      </div>
  </div>
  <div class="product-catalog-section-sorting-section-storage-2-class">
    <div class="product-catalog-section-sorting-section-storage-2-1-small-class">
      RO
    </div>
    <div class="product-catalog-section-sorting-section-storage-2-1-small-checkbox-class">
      <input type="checkbox">
    </div>
  </div>
  <div class="product-catalog-section-sorting-section-storage-2-class">
    <div class="product-catalog-section-sorting-section-storage-2-1-medium-class">
      UV
    </div>
    <div class="product-catalog-section-sorting-section-storage-2-1-medium-checkbox-class">
      <input type="checkbox">
    </div>
  </div>
  <div class="product-catalog-section-sorting-section-storage-2-class">
    <div class="product-catalog-section-sorting-section-storage-2-1-large-class">
      Eco Range
    </div>
    <div class="product-catalog-section-sorting-section-storage-2-1-large-checkbox-class">
      <input type="checkbox">
    </div>
  </div>
  <div class="product-catalog-section-sorting-section-storage-2-class">
    <div class="product-catalog-section-sorting-section-storage-2-1-large-class">
      Copper Range
    </div>
    <div class="product-catalog-section-sorting-section-storage-2-1-large-checkbox-class">
      <input type="checkbox">
    </div>
  </div>
</div>
