.product-catalog-section-sorting-section-storage-class
{
  display: flex;
  margin-top: 3vmin;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-catalog-section-sorting-section-storage-1-class
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.product-catalog-section-sorting-section-storage-1-1-class
{
  color: #193459;
  font-size: 3.3vh;
  font-weight: 600;
}

.product-catalog-section-sorting-section-storage-1-2-class
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-catalog-section-sorting-section-storage-2-class
{
  margin-top: 3vmin;
  color: #193459;
  font-size: 2.5vh;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

input[type="checkbox"]
{
  min-width: 1.5vmax;
  min-height: 1.5vmax;
  border: 2px solid #193459;
  border-radius: 5px;
  cursor: pointer;
  appearance: none;
  outline: none;
  background-color: white;
  position: relative;
}

input[type="checkbox"]:checked
{
  background-color: rgb(225, 238, 239);
  border: 2px solid #193459;
  border-radius: 5px;
}

input[type="checkbox"]::before
{
  content: '';
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(65, 143, 185);
  font-size: 1.2vmax;
}

input[type="checkbox"]:checked::before
{
  content: '✔';
  display: block;
}




