.product-catalog-section-sorting-technology-class
{
  display: flex;
  margin-top: 5vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-catalog-section-sorting-section-technology-1-class
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}


.product-catalog-section-sorting-section-technology-1-1-class
{
  color: #193459;
  font-size: 2.8vh;
  font-weight: 600;
}

.product-catalog-section-sorting-section-technology-1-2-class
{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 4vh;
  width: 7vw;
  padding-left: 2vw;
}

.product-catalog-section-sorting-section-technology-1-2-line-class
{
  width: 1.6vw;
  height: 0.3vh;
  background-color: #193459;
}

.product-catalog-section-sorting-section-technology-2-class
{
  margin-top: 3vh;
  padding-left: 1.2vw;
  color: #193459;
  font-size: 2.4vh;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 9vw;
}

.product-catalog-section-sorting-section-technology-2-2-class
{
  padding-left: 5.4vw;
}

.product-catalog-section-sorting-section-technology-2-1-ro-class
{
  padding-top: 1.6vh;
}

.product-catalog-section-sorting-section-technology-2-1-uv-class
{
  padding-top: 3.6vh;
}

.product-catalog-section-sorting-section-technology-2-1-cr-class
{
  padding-top: 3vh;
}

.product-catalog-section-sorting-section-technology-2-1-er-class
{
  padding-top: 3vh;
}

.product-catalog-section-sorting-section-technology-2-1-ro-checkbox-class
{
  padding-top: 0px;
}

.product-catalog-section-sorting-section-technology-2-1-uv-checkbox-class
{
  padding-top: 2vh;
}

.product-catalog-section-sorting-section-technology-2-1-cr-checkbox-class
{
  padding-top: 3vh;
}

.product-catalog-section-sorting-section-technology-2-1-er-checkbox-class
{
  padding-top: 3.5vh;
}

input[type="checkbox"]
{
  width: 1.6vw;
  height: 1.6vw;
}

input[type="checkbox"]:checked
{
  background-color: gray;
}

.product-catalog-section-sorting-section-technology-below-line-class
{
  margin-top: 7vh;
  width: 13vw;
  height: 0.2vh;
  background-color: #9a9fa5;
}
