<h2 mat-dialog-title>Change Password</h2>

<form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()"
        class="change-password-form">
  <mat-form-field appearance="outline">
    <mat-label>
      Current Password
    </mat-label>
    <input matInput [type]="passwordVisible1 ? 'text' : 'password'"
                    formControlName="currentPassword"
                    required
    >
    <mat-error *ngIf="changePasswordForm.get('currentPassword')?.invalid">
      Current password is required
    </mat-error>
    <fa-icon [icon]="passwordVisible1 ? 'eye-slash' : 'eye'"
             class="eye-icon" (click)="togglePasswordVisibility1()">
    </fa-icon>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      New Password
    </mat-label>
    <input matInput [type]="passwordVisible2 ? 'text' : 'password'"
                    formControlName="newPassword"
                    required
    >
    <fa-icon [icon]="passwordVisible2 ? 'eye-slash' : 'eye'"
            class="eye-icon" (click)="togglePasswordVisibility2()">
    </fa-icon>
    <mat-error *ngIf="changePasswordForm.get('newPassword')?.invalid">
      New password must be at least 6 characters long
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      Confirm
    </mat-label>
    <input matInput [type]="passwordVisible3 ? 'text' : 'password'"
                    formControlName="confirmPassword"
                    required
    >
    <fa-icon [icon]="passwordVisible3 ? 'eye-slash' : 'eye'"
        class="eye-icon" (click)="togglePasswordVisibility3()">
    </fa-icon>
    <mat-error *ngIf="changePasswordForm.get('confirmPassword')?.invalid ||
              (changePasswordForm.get('newPassword')?.value !==
                changePasswordForm.get('confirmPassword')?.value)">
      Passwords must match
    </mat-error>
  </mat-form-field>

  <div class="dialog-actions">
    <button mat-button type="button" (click)="onCancel()">
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit"
            [disabled]="changePasswordForm.invalid ||
                        changePasswordForm.get('newPassword')?.value.length < 6 ||
                        changePasswordForm.get('newPassword')?.value !==
                        changePasswordForm.get('confirmPassword')?.value">
      Change
    </button>
  </div>
</form>
